<div class="container">
    <div class="upper-data">
    <div class="backgroundImage">
      <img src="../assets/betisStadium.webp" >
    </div>
    
        <div class="main-data">
          <button class='btn btn-primary'
          (click)='selecTeamScreen()'>
          Select Team
          </button>
          <div class="team-name">Real Betis</div>
          <div class="badge">
            <img src="../assets/Real_betis_logo.svg.png" >
          </div>
  
          <div class="league-form">W W D D L L</div>
        
        </div>
    </div>
  </div>
     
    <div class="lower-data">
      <div class="more-info-label">
        More Information
      </div>
    </div>
  