<div class="container">
    <div class="upper-data-select">
      <div class="select-team-text">

      Please select a team to view their latest stats.
    </div>
    <div class="la-liga-logo">
    <img src="../../assets/laliga.png"
    [style.width.px]='imageWidth'
    [style.margin.px]='imageMargin'>
  </div>
   
    </div>

  <div class="team-grid">
    <ng-container *ngFor="let team of teams">
          <img 
          class="team-badge"
          [title]='team.teamName'
          [src]='team.teamBadgeUrl'
          [style.width.px]='imageWidth'
          [style.margin.px]='imageMargin'
          (click)="selectTeam( team.teamId,team.nextOpponentId, team.lastOpponentId, team.formRecord)"
          >
         
     </ng-container>
          

    
 
      </div>
    
  </div>
     
